<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Rescue Request</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal">
        <fieldset>

          <!-- Form Name -->
          <legend>Who Needs a Rescue?</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Name</label>
            <div class="col-md-4">
              <input id="name" name="name" type="text" placeholder="Name of Who we Look For" class="form-control input-md" required="">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="people">Number of People</label>
            <div class="col-md-4">
              <input id="people" name="people" type="text" placeholder="# of people with them" class="form-control input-md">

            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="level">Urgency</label>
            <div class="col-md-4">
              <select id="level" name="level" class="form-control">
                <option value="unknown" active>Unknown</option>
                <option value="injuries">Injuries</option>
                <option value="urgent">Urgent</option>
                <option value="lifethreatening">Life Threatening</option>
              </select>
            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="pet">Animals</label>
            <div class="col-md-4">
              <select id="pet" name="pet" class="form-control">
                <option value="No Pets">No Pets</option>
                <option value="Pets">Pets</option>
                <option value="Livestock">Livestock</option>
              </select>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="number">Phone Number/Cell to Contact</label>
            <div class="col-md-4">
              <input id="number" name="number" type="text" placeholder="Contact #" class="form-control input-md">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="contact">Request Submitted by</label>
            <div class="col-md-4">
              <input id="contact" name="contact" type="text" placeholder="Name Here" class="form-control input-md">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="address">Address/Location Include City or Zip</label>
            <div class="col-md-4">
              <input id="address" name="address" type="text" placeholder="Address" class="form-control input-lg">

            </div>
          </div>

          <!-- Textarea -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="info">Situation/Information</label>
            <div class="col-md-4">
              <textarea class="form-control" id="info" name="info"></textarea>
            </div>
          </div>

        </fieldset>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" id="submit_rescue" class="btn btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Sending Request...">Save changes</button>
    </div>
  </div>
</div>
